.my-list-wrapper p {
  font-size: 1.4rem;
  text-indent: 3rem;
  margin: 0;
}

.my-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 3rem;
}

.my-list > div {
  display: grid;
  place-items: center;

  max-width: 10rem;
  height: 15rem;
}

.my-list > div > img,
button {
  grid-area: 1 / 1 / 2 / 2;
}

.my-list > div button {
  display: none;
}

.my-list > div:hover button {
  display: block;

  animation: var(--animation-fade-in) forwards, var(--animation-slide-in-down);
  animation-duration: 250ms;
}

.my-list > div:hover img {
  filter: grayscale(1);
}
