nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 4rem;
  padding-inline: 1rem;
}

.nav-brand {
  width: inherit;
}

.nav-links {
  display: none;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}
